body {
    background:grey;
}
.icon5 {
    width:50px;
    height:50px;
    color:red;
}
.div5 {
    margin-top:200px;
    height:150px;
    background:white;
    border-color: grey;
    box-shadow:0px 0px 5px 2px white;
    width:400px;
    border-radius:10px;
}